<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Login - RethaSmart</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<div class="login-box">
  <h2>RethaSmart</h2>

    <input type="email" id="email" placeholder="E-mail">
    <input type="password" id="senha" placeholder="Senha">


  <button onclick="login()">Entrar</button>

  <div id="erro" class="erro"></div>
</div>

<script src="/js/auth.js"></script>
<script src="/js/login.js"></script>

</body>
</html>
